@charset "UTF-8";

body {
    position: relative;
    height: 100svh;
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

/* 모듈 */
.flex-v-center {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center;
    align-items: center;
}

.flex-h-center {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center;
    justify-content: center;
}

.clearfixDiv {
    display: block;
    visibility: hidden;
    content: ".";
    clear: both;
    text-indent: -9999px;
    height: 0;
}

.flex {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.modal_black {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.modal_black .prog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid #000;
    /*padding:9px 0 0 9px;*/
    margin: -25px 0 0 -25px;
    z-index: 100;
    background: #000;
    border-radius: 5px;
}

.modal_transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
}


.blue {
    fill: #0040ff;
    stroke: #0040ff;
    stroke-width: 1;
}

.puple {
    fill: #ab3fdd;
    stroke: #ab3fdd;
    stroke-width: 1;
}

.red {
    fill: #ae163e;
    stroke: #ae163e;
    stroke-width: 1;
}

.green {
    fill: #3ADF00;
    stroke: #3ADF00;
    stroke-width: 1;
}

.page_div_wrapper {
    position: relative;
    width: 100%;
    height: 100%
}

.page_div {
    position: absolute;
    background: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: none;
}

.page_div svg {
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.page_div svg image {
    display: block
}

.rectOption {
    cursor: pointer;
}

nav#top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.125em;
    border-bottom: 1px solid #d1d3d4;
    z-index: 16;
/*     padding: 0 5.625vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

nav#top h1 {
    letter-spacing: -0.02em;
    width: calc(100% - 9.375em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    margin: 0 auto;
    /* 808px */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-item: center;
    -webkit-justify-content: center;
    font-size: 1.1905em;
    /* 48px */
    color: #4E68D2;
    text-align: center;
    font-weight: 400;
}

nav#top a {
    display: block;
    /* 124/1080 */
    position: absolute;
    /*36/1080*/
    height: 100%;
    /* 126px */
    top: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: block;
    height: 100%;
}

nav#top a.back {
    height: 100%;
    aspect-ratio: 1/1;
    float: left;
}

nav#top a.back {
    background-image: url(../images/cmm/icn-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.page_div .icn_bookmark {
    background-image: url(https://web-cdn.chungchy.com/Highlights_Global_V8_aws/library../viewer-global-pc-lite/image/icn_bookmark.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 6.25vw;
    height: 13.125vw;
    max-height: 87px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

nav#top a.fake-active {
    background-color: #f3f7f9;
}


nav#top a.fake-active {
    background-color: #f3f7f9;
}


/* 하단 네비게이션 */
nav#bt {
    position: fixed;
    bottom: 0svh;
    width: 100%;
    z-index: 18;
    border-top: 1px solid #d1d3d4;
    background-color: #ffffff;
}

nav#bt .book {
    width: 100%;
    height: 6.2em;
    padding: 0 5.55555555555556%;
    display: flex;
    flex-direction: column;
}

nav#bt .book .inner {
    height: 3.1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#bt .book .inner ul {
    height: 100%;
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#bt .book .inner ul li {
    width: calc(100% / 6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#bt .book .inner ul li a {
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
}

nav#bt .book .inner ul li a.first {
    background-image: url(../images/cmm/icn-first.svg);
}

nav#bt .book .inner ul li a.first:active {
    background-image: url(../images/cmm/icn-first-active.svg);
}

nav#bt .book .inner ul li a.prev {
    background-image: url(../images/cmm/icn-prev.svg);
}

nav#bt .book .inner ul li a.prev:active {
    background-image: url(../images/cmm/icn-prev-active.svg);
}

nav#bt .book .inner ul li a.play {
    background-image: url(../images/cmm/icn-play.svg);
}

nav#bt .book .inner ul li a.stop {
    background-image: url(../images/cmm/icn-pause-active.svg);
}

nav#bt .book .inner ul li a.next {
    background-image: url(../images/cmm/icn-next.svg);
}

nav#bt .book .inner ul li a.next:active {
    background-image: url(../images/cmm/icn-next-active.svg);
}

nav#bt .book .inner ul li a.repeat {
    background-image: url(../images/cmm/icn-repeat.svg);
}

nav#bt .book .inner ul li a.repeat:active {
    background-image: url(../images/cmm/icn-repeat-active.svg);
}

/* autoplay-switch */
nav#bt .book .inner .autoplay-switch {
    position: relative;
    width: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav#bt .book .inner .autoplay-switch label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #d2d5da;
    box-sizing: border-box;
}

nav#bt .book .inner .autoplay-switch label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-8%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #939598;
    transition: all 0.3s ease;
}

nav#bt .book .inner .autoplay-switch label svg {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0%, -50%);
    z-index: 99;
    transition: all 0.3s ease;
}

nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label {
    background-color: #8496e0;
}

nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label:after {
    left: calc(100% - 20px);
    background-color: #4e68d2;
}

nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label svg {
    left: calc(100% - 18px);
}

nav#bt .book .inner .autoplay-switch label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* speed btn */
nav#bt .book .inner .speed {
    position: relative;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#bt .book .inner .speed p {
    color: #4e68d2;
    font-weight: 800;
}

nav#bt .book .inner .speed .option-wrap {
    display: none;
}

nav#bt .book .inner .speed.act .option-wrap {
    position: absolute;
    display: block;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 999;
    top: -175px;
    width: 100%;
}

nav#bt .book .inner .speed .option-wrap li {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #eeeeeeee;
    font-size: 16px;
    font-weight: 500;
       transition: all 0.5s;
}

nav#bt .book .inner .speed .option-wrap li.act {
    background-color: #c5dcff;
    color: #4e68d2;
    font-weight: 600;
}

/*  range */
.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.rangeslider,
.rangeslider__fill {
    display: block;
}

.rangeslider {
    background: #d1d3d4;
    position: relative;
}

.rangeslider--horizontal {
    width: 90%;
    height: 4px;
    /* 10px */
}

.rangeslider__handle {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.range .rangeslider__fill {
    position: absolute;
    top: 0;
    height: 100%;
    background: #4E68D2;
}

.range .rangeslider__handle:after {
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4E68D2;
}

.rangeslider--horizontal .rangeslider__handle {
    top: -6px;
    /* 25px */
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

.range p {
    flex-shrink: 0;
    line-height: 3.1002rem;
    font-weight: 600;
    color: #4E68D2;
}

.range p span {
    color: #4E68D2;
}

.range p span.end {
    position: absolute;
    right: 5.55555555555556%;
    /*60/1080*/
    bottom: 0;
    text-align: right;
}

.range.offline p,
.range.offline p span {
    width: 13.54166666666667%;
    /*130/960*/
}

/* /하단 네비게이션 */

/* 책 출력 영역 */
main {
    min-height: 47.6191em;
    /* 1920 */
    height: 100%;
}

main section {
    width: 96.2962962962963%;
    /* 1040/1080 */
}


/* 레벨 레이어팝업 */
#book-layer {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#book-layer div.level-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 0;
    width: calc(100% - 24px);
    max-width: 500px;
    background: #fff;
    padding: 24px;
    border-radius: 40px;
    box-shadow: 2px 2px 4px #939598;
    z-index: 100;
}

div.level-layer h1 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    color: #4e68d2;
    display: none;
}

div.level-layer h2 {
    text-align: center;
    padding-top: 0px !important;
    margin-bottom: 16px;
    font-size: 1.1111rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.02rem;
}

#book-layer .lv-layer-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.lv-layer-btn button {
    width: 100%;
    max-width: 162px;
    font-size: 16px;
    padding: 12px;
    border-radius: 30px;
    font-weight: 300;
}

.lv-layer-btn button.btn-cyan {
    background-color: #4e68d2;
    border: 1px solid #cccccc;
    color: #FFFFFF;
}

.lv-layer-btn button.btn-cyan:hover {
    background-color: #2e4cc5;
}

.lv-layer-btn button.btn-gray {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #262626;
}

.lv-layer-btn button.btn-gray:hover {
    background-color: #eeeeee;
}

/* 200325 layer dictionary */
.dictionary {
    width: 320px;
    height: 350px;
    background: #fff;
}

.dictionary.definition {
    height: 213px;
}

.dictionary img {
    min-width: initial;
}

.layer {
    position: relative;
    padding: 5px 0;
    border: 1px solid #248ab2;
    border-top: 7px solid #248ab2;
}

.layer.dictionary .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.layer.dictionary h3 {
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    padding: 0 15px;
    background-color: #e8f9ff;
}

.layer.dictionary h3 img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.layer.dictionary .img-con {
    padding: 5px 0 5px;
    text-align: center;
}

.layer.dictionary .img-con img {
    width: 150px;
}

.layer.dictionary .img-con p {
    font-size: 36px;
    color: #248ab2;
}

.layer.dictionary .con {
    height: 112px;
    overflow-y: auto;
    margin: 2px 20px 20px;
}

.layer.dictionary .con .headword {
    padding-bottom: 10px;
    font-size: 30px;
    color: #248ab2;
}

.layer.dictionary .con .headword span {
    font-size: 14px;
    color: #000;
}

.layer.dictionary .text2 {
    padding-top: 3px;
    color: #4f4f4f;
    font-size: 14px;
}

@media screen and (min-width:640px) {
    nav#top {
        border-bottom-width: 2px;
        height: 5.3334em;
        /* 126px */
    }

    nav#top h1 {
        letter-spacing: 0;
    }

    nav#top {
        border-bottom-width: 2px;
        height: 6.3493em;
    }

    nav#top h1 {
        font-size: 2.0318em;
        /*48*/
    }

    .page_div_wrapper {
        margin: 6.3493em 0;
    }

    .nm-fs {
        font-size: 1.6932rem;
    }

    .nm-fs-big {
        font-size: 2.0318rem;
    }

    .nm-fs-44 {
        font-size: 1.8625rem;
        /* 44px */
    }

    .nm-fs-md {
        font-size: 1.4392rem;
    }

    nav#bt .book {
        height: 11.4286em;
    }

    nav#bt .book .inner {
        height: 5.3334em;
    }

    nav#bt .book .inner ul li a {
        background-size: 3em;
    }

    nav#bt .book .inner .speed {
        width: 80px;
    }

    nav#bt .book .inner ul {
        width: calc(100% - 180px);
    }

    nav#bt .book .inner .speed:hover .option-wrap {
        top: -225px;
    }

    nav#bt .book .inner .speed .option-wrap li {
        height: 45px;
        line-height: 45px;
        font-size: 20px;
    }

    /* autoplay-switch */
    nav#bt .book .inner .autoplay-switch {
        width: 100px;
    }

    nav#bt .book .inner .autoplay-switch label {
        width: 80px;
        height: 30px;
    }

    nav#bt .book .inner .autoplay-switch label:after {
        top: 50%;
        left: -8%;
        transform: translate(-6%, -50%);
        width: 45px;
        height: 45px;
    }

    nav#bt .book .inner .autoplay-switch label svg {
        width: 25px;
        height: 25px;
        top: 50%;
        left: 0%;
    }

    nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label:after {
        left: calc(100% - 30px);
    }

    nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label svg {
        left: calc(100% - 23px);
    }

    .rangeslider--horizontal {
        width: 90%;
        height: 5px;
        border-radius: 10px;
    }

    .rangeslider__handle {
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translate(-10%, -10%);
    }

    main {
        min-height: 81.2699em;
        /* 1920 */
    }

    main section {
        width: 92.2962962962963%;
        /* 1040/1080 */
    }

    .page_div_wrapper {
        margin: 6.3493em 0;
    }
}

@media screen and (min-width: 960px) {
    nav#top {
        height: 7.6191em;
    }

    nav#top h1 {
        font-size: 2.7937em;
        /*48*/
    }

    nav#bt .book {
        height: 15.2382em;
    }

    nav#bt .book .inner {
        height: 7.6191em;
    }

    nav#bt .book .inner ul li a {
        background-size: 4em;
    }

}

@media screen and (min-width:1024px) {
    nav#top {
        height: 7.6191em;
    }

    nav#top h1 {
        font-size: 2.7937em;
        /*48*/
    }

    .nm-fs {
        font-size: 1.6932rem;
    }

    .nm-fs-big {
        font-size: 2.0318rem;
    }

    .nm-fs-44 {
        font-size: 1.8625rem;
        /* 44px */
    }

    .nm-fs-md {
        font-size: 1.4392rem;
    }

    nav#bt .book .inner .speed {
        width: 120px;
    }

    nav#bt .book .inner ul {
        width: calc(100% - 260px);
    }

    nav#bt .book .inner .speed:hover .option-wrap {
        top: -225px;
    }

    nav#bt .book .inner ul li a {
        background-size: 4.5em
    }

    /* autoplay-switch */
    nav#bt .book .inner .autoplay-switch {
        width: 160px;
        margin-right: 20px;
    }

    nav#bt .book .inner .autoplay-switch label {
        width: 100px;
        height: 35px;
    }

    nav#bt .book .inner .autoplay-switch label:after {
        top: 50%;
        left: -20%;
        transform: translate(-10%, -50%);
        width: 55px;
        height: 55px;
    }

    nav#bt .book .inner .autoplay-switch label svg {
        width: 30px;
        height: 30px;
        top: 50%;
        left: -12%;
    }

    nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label:after {
        left: calc(100% - 30px);
    }

    nav#bt .book .inner .autoplay-switch input[type="checkbox"]:checked+label svg {
        left: calc(100% - 22px);
    }

    nav#bt .book .inner .speed:hover .option-wrap {
        top: -250px;
    }

    nav#bt .book .inner .speed .option-wrap li {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }

    .rangeslider--horizontal {
        width: 90%;
        height: 10px;
        border-radius: 10px;
    }

    .rangeslider__handle {
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translate(-10%, -10%);
    }

}

@media screen and (min-width:640px) and (orientation:landscape) {
    main {
        min-height: inherit;
    }

    main section {
        width: 40%;
    }

    main section {
        width: auto;
    }
}

@media screen and (min-width:1024px) and (orientation:landscape) {
    li.range::after {
        clear: both;
    }

    li.range p {
        float: left;
        width: 9%;
    }
}

@media screen and (min-width:1366px) and (orientation:landscape) {}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    /* Safari and Chrome, if Chrome rule needed */
    .book-btn a {
        letter-spacing: 0;
    }

    /* Safari 5+ ONLY */
    ::i-block-chrome,
    .book-btn a {
        letter-spacing: 0;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .book-btn a {
        letter-spacing: 0;

    }

    /* Safari 5+ ONLY */
    ::i-block-chrome,
    .book-btn a {
        letter-spacing: -1px;
    }
}

/* Chrome 29+ */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .book-btn a {
        letter-spacing: 0px;
    }
}


/* 240521 contents loading */
.loader_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
}

.loader_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: 100px auto;
    font-size: 4vw;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@keyframes load5 {

    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #7fb6c6, 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2), 2.5em 0em 0 0em rgba(127, 182, 198, 0.2), 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.2), 0em 2.5em 0 0em rgba(127, 182, 198, 0.2), -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.2), -2.6em 0em 0 0em rgba(127, 182, 198, 0.5), -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.7), 1.8em -1.8em 0 0em #7fb6c6, 2.5em 0em 0 0em rgba(127, 182, 198, 0.2), 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.2), 0em 2.5em 0 0em rgba(127, 182, 198, 0.2), -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.2), -2.6em 0em 0 0em rgba(127, 182, 198, 0.2), -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.5), 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.7), 2.5em 0em 0 0em #7fb6c6, 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.2), 0em 2.5em 0 0em rgba(127, 182, 198, 0.2), -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.2), -2.6em 0em 0 0em rgba(127, 182, 198, 0.2), -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.2), 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.5), 2.5em 0em 0 0em rgba(127, 182, 198, 0.7), 1.75em 1.75em 0 0em #7fb6c6, 0em 2.5em 0 0em rgba(127, 182, 198, 0.2), -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.2), -2.6em 0em 0 0em rgba(127, 182, 198, 0.2), -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.2), 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2), 2.5em 0em 0 0em rgba(127, 182, 198, 0.5), 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.7), 0em 2.5em 0 0em #7fb6c6, -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.2), -2.6em 0em 0 0em rgba(127, 182, 198, 0.2), -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.2), 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2), 2.5em 0em 0 0em rgba(127, 182, 198, 0.2), 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.5), 0em 2.5em 0 0em rgba(127, 182, 198, 0.7), -1.8em 1.8em 0 0em #7fb6c6, -2.6em 0em 0 0em rgba(127, 182, 198, 0.2), -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.2), 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2), 2.5em 0em 0 0em rgba(127, 182, 198, 0.2), 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.2), 0em 2.5em 0 0em rgba(127, 182, 198, 0.5), -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.7), -2.6em 0em 0 0em #7fb6c6, -1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(127, 182, 198, 0.2), 1.8em -1.8em 0 0em rgba(127, 182, 198, 0.2), 2.5em 0em 0 0em rgba(127, 182, 198, 0.2), 1.75em 1.75em 0 0em rgba(127, 182, 198, 0.2), 0em 2.5em 0 0em rgba(127, 182, 198, 0.2), -1.8em 1.8em 0 0em rgba(127, 182, 198, 0.5), -2.6em 0em 0 0em rgba(127, 182, 198, 0.7), -1.8em -1.8em 0 0em #7fb6c6;
    }
}

/* 240521 contents loading end */